<div class="refund">

    
    <h1>
        RETURN POLICY
    </h1>
    <p >
        
    We are happy to offer a refund on items in perfect sellable condition.
    
Orders can be returned within 20 days of purchase. Please allow 3-5 business days to process the return once it’s received. You will be notified via email once the refund has been issued!

For the UAE, we will arrange for collection of returned items free of charge.

For international shipments (outside UAE), customers will be responsible for return shipments & cost.

We will refund the price of the merchandise (excluding all applicable shipping charges and any customs, duties, taxes or additional fees that may have applied to your order) upon receiving your return.
</p>





<br>
<h1>
    START A RETURN
</h1>
<br>
<p>

    You can now start a return by emailing us at Mermaid.Spark@gmail.com
</p>

<br>
<h1>
    YOUR RETURN READY
</h1> 
<br>
<p>
    Once you have received a reply from us. Please pack up the items you’d like to return.

    If you are in the UAE, the courier company will get in touch with you to arrange for the return.

    If you are outside the UAE, please arrange for the return. We recommend a shipping method with a proof of delivery or tracking number. IKASU is not responsible for any lost returns.
    
</p>
<br>
<h1>
    FINAL SALE ITEMS
</h1>
<br>
<p>
    All items marked “Final Sale” are considered final sale and cannot be returned once purchased.
</p>
<br>

</div>