<!-- ================ pages  ============================= -->
<!-- ================ pages  ============================= -->
<!-- ================ pages  ============================= -->
<section class="section products-main" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="title text-center">
            <h2 id='start0'>Leggings Outfit</h2>
            <p>The best Online sales to shop these weekend</p>
          </div>
        </div>
      </div>
  
  
      <div class="row">
        <div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5" *ngFor="let product of stop.products_page">
          <div class="product">
            <div class="product-wrap">
              <a [routerLink]="['/detail']" fragment="start" (click)="stop.product_detail=product; stop.go_top_detail()">
                <img class="img-fluid w-100 mb-3 img-first" [src]="product.img_front" alt="product-img" />
              </a>
              <a [routerLink]="['/detail']" fragment="start" (click)="stop.product_detail=product; stop.go_top_detail() ">
                <img class="img-fluid w-100 mb-3 img-second" [src]="product.img_back" alt="product-img" />
              </a>
            </div>
  
            <span class="onsale">Sale</span>
            <div class="product-hover-overlay">
              <a routerLink="#"  (click)="stop.add_to_cart(product)" *ngIf="!product.added">
                <i class="tf-ion-android-cart">
  
                </i>
              </a>
              <a routerLink="#"  (click)="stop.add_to_cart(product)" style="padding-top:0px" *ngIf="product.added">
              
                <img src="assets/fonts/check.png"  width="50px" height="50px" alt="" >
              </a>
              
              <a href="#">
                <i class="tf-ion-ios-heart">
  
                </i>
              </a>
            </div>
  
            <div class="product-info">
              <h2 class="product-title h4 mb-0">
                <a href="#">{{product.description}}</a>
              </h2>
              <span class="price">
                {{product.price}}
              </span>
              <del class="price">
                {{product.oldprice}}
              </del>
            </div>
            <div class="product-info">
              <i [class]="'a-icon ' +star_list[product.star]+ ' aok-align-bottom'">
              </i>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  
  
  
  
  <div class="col-12 pb-1" >
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center mb-3">
        <li class="page-item " style="width: 80px; margin-right: 8px;">
          <a class="page-link" href="#start0" (click)="previous()" aria-label="Previous" style="width: 80px;">
            <span aria-hidden="true">Previous</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="stop.get_page(1)" [routerLink]="['/leggings/1']">1</a>
        </li>
        <li class="page-item">
          <a class="page-link"(click)="stop.get_page(2)" [routerLink]="['/leggings/2']">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="stop.get_page(3)" [routerLink]="['/leggings/3']">3</a>
        </li>
        <li class="page-item" style="width: 60px;">
          <a class="page-link" href="#start0" (click)="next()" aria-label="Next" style="width: 60px;">
            <span aria-hidden="true">Next</span>
            <span class="sr-only">Next</span>
          </a>
  
  
        </li>
      </ul>
    </nav>
  </div>