<div class="container">
<h1 class="selec"> Who We Are</h1>
<p class="paragraph">
Welcome to our MERMAID SPARK! We are a tech-driven online retailer 
located near Salt Lake City in the shadow of the Wasatch Mountains. 
Since our beginnings in 2012, MERMAID SPARK has evolved from a fledging startup
 to a million-dollar online retailer of sportwear as a result of a hard-working and creative team.</p>

 <p class="paragraph">
    In our company, we highly value a healthy lifestyle and comfort. Our mission is to bring the latest fitness products
     to our loyal costumers.

 </p>

</div>