




.gw-card-layout .a-cardui {
    background: #fff;
    height: 100%;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 20px;
}

.fluid-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: grey 2px 2px 3px 1px;
    border: 1px solid #495057;
    border-radius: 5px;
    width: 400px;
    margin: 40px;
    padding: 20px !important;
}
.a-cardui {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
    overflow: auto;
    padding: 20px 0 15px 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.gw-card-layout {
    font-size: 13px!important;
    line-height: 19px!important;
}
.a-ember body {
    font-family: "Amazon Ember",Arial,sans-serif;
}


.truncate-2line{
    text-align: center ;
}

.category-item{
    display: flex;
    justify-content:center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}


p{
    margin: 0;
}