
<div class="refund">
    <h1>
    SCOPE OF PRIVACY POLICY
    </h1>
    <p>
    This Privacy Policy describes how MERMAID SPARK collects, uses, and shares information about you (the user) when you use our website with a homepage located at “mermaidsparkofficial.com” and our related social medial platforms such as Instagram and Facebook.
    
    MERMAID SPARK is committed to respect your privacy rights.
    
    </p>
     
    
    <h1>
    ACCEPTANCE OF PRIVACY POLICY
    </h1>
    <p>
    By using MERMAID website, you accept this privacy policy. If you do not agree to the terms of this Privacy Policy, please do not use IKASU FZE services.
    </p>
    <h1>
    AGE OF CONSENT
    </h1>
    <p>
    By accessing MERMAID services, you confirm that you are at the age of majority you have given us your consent to allow any of your minor dependents to use the services.
    </p>
    <h1>
    INFORMATION WE COLLECT
    </h1>

    <p>
    We collect information that you provide us when using our website or our social media platforms such as your name, your contact details, your credit card or any other information that you choose to disclose to us.
    
    We also collect information related to your website usage such as the time you access, the products you viewed, your IP. We track information about the visits to our website to analyze trends and statistics such as the traffic.
    
    </p>
    <h1>
    COOKIES
    </h1>
    <p>
    We use “cookies”, pixel tags, and other technologies to automatically collect information about you such as browser type, pages viewed, links clicked, and other actions you take in connection with our websites, online advertisements, and email. We use this information to personalize and improve your experience
    
    We also receive information about you from third parties including PayPal and Google and through your engagement with us on our social media platforms.
    </p>
    <h1>
    HOW WE USE YOUR INFORMATION
    </h1>
    <p>
    We may use your personal information to improve our website, products and services such as contacting you to fulfill an order/ a request, improve your customer experience, invite you to our events, inform you about an offer and improve the quality of our products and services to better serve you.
    </p>
    <h1>
    CREATE AND MAINTAIN A SAFE AND SCURE EXPERIENCE
    </h1>
    <p>
    We are committed to provide a safe and secure customer experience and work with reliable third parties such as HostGator and PayPal.
    </p>
    <h1>
    HOW WE SHARE YOUR INFORMATION
    </h1>
    <p>
    We share your personal information under confidentiality agreements with, or obtain data from third party service providers who we work with or who manage our customer information and perform services on our behalf such as fulfillment centers, e-commerce platform host, online payments and shipping companies.
    
    These third parties do not have any independent right to share your Personal Information.
    </p>
</div>