{% extends "base.html" %}
{% load static %}
 
{% block content %}
 
  <app-root><div style="width: 100%; height: 100%;"></div></app-root>
 
  <script type="text/javascript" src="{% static 'dist/inline.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/polyfills.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/styles.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/vendor.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/main.bundle.js' %}"></script>
 
{% endblock %}
