{% extends "base.html" %}
{% load static %}
 
{% block content %}
 
  <app-root><div style="width: 100%; height: 100%;"></div></app-root>
 
  <script type="text/javascript" src="{% static 'dist/runtime.1bb0eaa661363c1e.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/polyfills.d41d73a6442b7717.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/scripts.556340fb673c7630.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/main.e6533e9a241fc314.js' %}"></script>
  <link rel="stylesheet" href="{% static 'dist/styles.9b029086eed19f85.css' %}" type="text/css" />

{% endblock %}
